:root{
    font-size: 16px;
}

$font-marker: 'Permanent Marker',cursive;
$font-bebas: 'Bebas Neue', cursive;
$font-lato:  'Lato', sans-serif; //300, 400, 900, 400 italic

$line-height: 1.2em;

$h-size: 3rem;
$h-mobile-size: 1.5rem;

$p-size: 1.4rem;
$p-mobile-size: 1rem;

