//colors
$color-white: snow;
$color-black: black;
$color-grey-dark: rgb(29, 29, 29);
$color-grey-light: rgb(51, 48, 48);
$color-red: rgb(190, 3, 3);

$color-white-opacity: rgb(255,255,255,0.4);
$color-grey-opacity: rgb(29, 29, 29, 0.5);
$color-red-opacity: rgb(255, 0, 0, 0.4);



//fonts


//sizes
$border-radius: 15px;
$line-height: 1.2em;