*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(61, 59, 59);
}

.card-box{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.card{
    position: relative;
    width: 550px;
    min-height: 800px;
    padding: 0.625rem;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.card__title{
    color: red;
    font-size: 2.2rem;
    line-height: 1.2em;
}

.card__members, .card__discography, .card__concerts{
    height: 100%;
    color: white;
    list-style-position: inside;
    font-size: 0.9rem;
    line-height: 1.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card__members{
    list-style-type: circle;
}

.card__discography{
    list-style-type: upper-roman;
}

.card__concerts{
    list-style-type: none;
}

.fa-music{
    margin-right: 5px;
    font-size: 0.8em;
    font-weight: light;
}

.card__genres{
    width: 98%;
    min-height: 60px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.genre-box{
    font-size: 1rem;
    line-height: 1em;
    padding: 5px;
    color: white;
    background-color: rgb(51, 48, 48);
    border: 1px solid white
}

.hardometer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    text-align: left;
    width: 98%;
    height: 50px;
    font-size: 1.5rem;
    line-height: 1.2em;
}


.hardometer__spans{
    display: flex;
    gap: 10px;
}

.hardometer__number{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 48, 48);
    color: red;
    width: 50px;
    height: 50px; 
    border-radius: 15px;
}

.hardometer__span{
   width: 5px;
   height: 50px;
   border: none;
   background-color: rgb(51, 48, 48);
}

.card__social-media{
    margin-top: 1.2em;
    display: flex;
    gap: 50px;
    
}

.sm-icon{
    display: block;
    color: rgb(51, 48, 48);
    font-size: 2rem;
}


/* MUI Tabs styles */
.MuiTabPanel-root.tabPanel{
    padding: 10px;
    color: white;
    height: 200px;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgb(51, 48, 48);
}

.MuiTabs-flexContainer{
    justify-content: space-between;
}

.MuiTab-root.MuiButtonBase-root{
    color: white;
}

.Mui-selected.MuiTab-root.MuiButtonBase-root{
    color: red;
}

.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator{
    background-color: red;
    height: 3px;
}

