.artist-comparison{
    padding: 25px;
    background-color: $color-grey-dark;

    @media(min-width: 610px){
        padding: $section-padding 100px;
    }
}

.comparison-box{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-box{
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media(min-width:1150px){
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}

.comparison__title{
    text-align: center;
    color: $color-white;
    font-family: $font-marker;
    font-size: $h-mobile-size;

    span{
        color: $color-red;
    }

    @media(min-width:650px){
        font-size: $h-size;
    }
}

.comparison__form{
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    width: 340px;
    align-items: center;
    justify-content: space-around;

    @media(min-width:650px){
        width: 500px;
    }

    @media(min-width:1150px){
        width: 600px;
    }
}

.comparison__input{
    width: 70%;
    margin: 10px;
    padding: 5px 15px; 
    font-family: $font-lato;
    line-height: $line-height;
    border-radius: $border-radius;
    color: $color-white;
    background-color: $color-grey-light;
    border: 2px solid $color-white;
}