.artist-browser{
    width: 100%;
    min-height: 50vh;
    background-color: $color-white;
    padding: $section-padding 0;
}

.browser-box{
    box-sizing: border-box;
    margin: 0 auto;
    width: 95%;
    height: 100%;
    background-color: $color-grey-dark;
    color: $color-white;
    padding: 30px;
    font-family: $font-lato;
    line-height: $line-height;
}

.browser__title{
    font-family: $font-marker;
    font-size: $h-mobile-size;
    line-height: $line-height;
    text-align: center;

    @media(max-width:600px){
        width: 10ch;
        margin: 0 auto;
    }

    @media(min-width: 850px){
        font-size: $h-size;
    }

    span{
        color: $color-red;
    }
}

.browser__filter{
    appearance: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 5px 20px;
    font-family: $font-bebas;
    background-color: $color-black;
    font-size: calc($h-mobile-size*0.8);
    border: none;
    color: $color-white;
    display: block;
    width: 100%;

    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;

    @media(min-width: 850px){
        padding: 10px 20px;
        font-size: calc($h-size*0.6);
    }
}

.browser-list-box{
    box-sizing: border-box;
    padding: 10px;
    background-color: $color-grey-light;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.browser__list{
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    height: 200px;
    overflow-x: auto;
    overflow-y: auto;

    @media(min-width: 850px){
        height: 300px;
    }

    li{
        display: flex;
        white-space: nowrap;
        font-size: $p-mobile-size;
        padding: 5px;

        @media(min-width: 850px){
            font-size: $p-size;
            padding: 10px;
        }
    }

    li:first-child{
        padding-top: 0;
    }

    li::before{
        content:'Artist: ';
        padding-right: 5px;
        color: $color-red;
        font-family: $font-marker;
        letter-spacing: 1px;
        font-size: $p-mobile-size*1.2;

        @media(min-width: 850px){
            font-size: $p-size*1.2;
        }
    }

    li:nth-child(2n){
        color: $color-grey-dark;
        background-color: $color-white-opacity;

        .lastFM-artist-link{
            color: $color-grey-dark;
        }
    }

    p{
        cursor: pointer;
        width: 50%;
        padding-left: 0;
        
        @media(min-width: 480px)
        {
            padding-left: 50px;
        }
    }
}

.lastFM-artist-link{
    text-align: right;
    padding-right: 50px;
    width: 50%;
    font-family: $font-lato;
    font-style: italic;
    color: $color-white;
    text-decoration: none;
}

.lastFM-artist-link--mobile{
    display: none;

    @media(min-width: 480px)
    {
        display: block;
        padding-right: 0;
    }

    @media(min-width: 680px)
    {
        display: none;
    }
}

.lastFM-artist-link--screen{
    display: none;

    @media(min-width: 680px)
    {
        display: block;
    }
}


.details-box{
    font-size: $p-mobile-size;
    margin-top: 20px;
    height: 200px;
    width: 100%;
    background-color: $color-grey-light;
    border-radius: $border-radius;

    p{
        padding-top: 100px;
        text-align: center;
    }

    @media(min-width: 850px){
        height: 300px;
        font-size: $p-size;
    }
}