.artist-browser{
    width: 100%;
    min-height: 50vh;
    background-color: $color-white;
    padding: $section-padding 0;

    .custom-list{
        p{
            cursor: pointer;
        }

        li:nth-child(2n){
            .lastFM-artist-link{
                color: $color-grey-dark;
            }
        }
    }
}

.browser-box{
    box-sizing: border-box;
    margin: 0 auto;
    width: 95%;
    height: 100%;
    background-color: $color-grey-dark;
    color: $color-white;
    padding: 30px;
    font-family: $font-lato;
    line-height: $line-height;
}

.browser__title{
    font-family: $font-marker;
    font-size: $h-mobile-size;
    line-height: $line-height;
    text-align: center;

    @media(max-width:600px){
        width: 10ch;
        margin: 0 auto;
    }

    @media(min-width: 850px){
        font-size: $h-size;
    }

    span{
        color: $color-red;
    }
}



.browser__filter{
    appearance: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 5px 20px;
    font-family: $font-bebas;
    background-color: $color-black;
    font-size: calc($h-mobile-size*0.8);
    border: none;
    color: $color-white;
    display: block;
    width: 100%;

    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;

    @media(min-width: 850px){
        padding: 10px 20px;
        font-size: calc($h-size*0.6);
    }
}

.lastFM-artist-link{
    text-align: right;
    padding-inline: 20px 50px;
    width: 50%;
    font-family: $font-lato;
    font-style: italic;
    color: $color-white;
    text-decoration: none;
}

.lastFM-artist-link--mobile{
    display: none;
    padding-inline: 10px;

    @media(min-width: 480px)
    {
        display: block;
    }

    @media(min-width: 680px)
    {
        display: none;
    }
}

.lastFM-artist-link--screen{
    display: none;

    @media(min-width: 680px)
    {
        display: block;
    }
}


.lack-of-details{
    margin-top: 20px;
    padding: 5px 10px;
    font-size: $p-mobile-size;
    line-height: $line-height;
    text-align: center;
    color: $color-red;

    @media(min-width: 850px){
        font-size: $p-size;
        padding: 10px 20px;
    }
}

.details-box{
    font-size: $p-mobile-size;
    line-height: $line-height;
    margin-top: 20px;
    padding: 5px 10px;
    min-height: 200px;
    width: 100%;
    background-color: $color-grey-light;
    border-radius: $border-radius;

    @media(min-width: 850px){
        font-size: $p-size;
        padding: 10px 20px;
    }
}

.details__header{
    display: flex;
    line-height: $line-height;

    h3{
        width: 50%;
        text-align: center;
        color: $color-red;
    }

    @media(min-width: 850px){
        font-size: 1.6rem;
        padding: 10px 20px;
    }
}

.details__artistinfo{
    display: flex;
}

.artistinfo__stats{
    width: 50%;
    overflow: auto;

    span{
        color: $color-red;
    }
}

.artistinfo__playcount, .artistinfo__listeners{
    border-bottom: 2px solid $color-white-opacity;
    display: flex;
    justify-content: space-between;
}

.artistinfo__toptracks{
    width: 50%;
    margin-left: 30px;
    overflow: auto;
    white-space: nowrap;

    span{
        display: inline-block;
        color: $color-red;
        width: 35px;
        height: 100%;
    }
}

.genre-box--browser{
    text-transform: capitalize;
    font-size: $p-mobile-size;

    @media(min-width: 850px){
        font-size: $p-size;
    }
}
