.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    color: white;
}

.navlist{
    display: flex;
    gap: 2em;
    font-size: 2rem;
    text-transform: uppercase;

    li{
        padding: 0.5em;
    }
}
