.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: $color-white;
    max-height: 70px;
    background-color: $color-black;
    text-align: center;
}

.navlist{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-family: $font-bebas;

    li{
        border-left: 2px solid  $color-grey-dark;
    }

    a{
        display: block;
        padding: 1em;
        color: $color-white;
        text-decoration: none;
        transition: 500ms;

        &:hover{
            color: $color-red; 
            background-color: $color-white;
            padding: 1.4em 1em;
        }
    }
}
