
.card{
    box-sizing: border-box;
    position: relative;
    width: 350px;
    min-height: 640px;
    padding: 0.625rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-black;

    @media(min-width: 600px){
        width: 550px;
    }

}

.card__img{
    width: 100%;
    border-radius: $border-radius;
}

.card__title{
    color: $color-red;
    font-family: $font-lato;
    font-weight: 900;
    font-size: calc($h-mobile-size/1.2);
    text-align: center;
    line-height: $line-height;

    @media(min-width: 600px){
        font-size: 2.2rem;
    }
}

.card__members, .card__discography, .card__concerts{
    font-size: $p-mobile-size;
    font-weight: 300;
    line-height: 1.6em;
    font-family: $font-lato;
    height: 100%;
    color: $color-white;
    list-style-position: inside;
    width: 100%;
    overflow-y: scroll;;

    li{
        padding: 2px;
    }

    @media(min-width: 600px){
        font-size: 1.2rem;
    }
}

.card__members{
    list-style-type: circle;
}

.card__discography{
    list-style-type: upper-roman;
}

.card__concerts{
    list-style-type: none;
}

.fa-music{
    margin-right: 5px;
    font-size: 0.8em;
    font-weight: light;
}

.card__genres{
    width: 98%;
    min-height: 30px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.genre-box{
    font-family: $font-lato;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: $line-height;
    padding: 5px;
    color: $color-white;
    background-color: $color-grey-light;
    border: 1px solid $color-white
}

.hardometer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-white;
    text-align: left;
    width: 98%;
    height: 50px;
    font-family: $font-bebas;
    font-size: $h-mobile-size;
    line-height: $line-height;

    @media(min-width: 600px){
        font-size: 2rem;
    }
}


.hardometer__spans{
    display: flex;
    align-items: center;
    gap: 5px;

    @media(min-width: 600px){
        gap: 10px;
    }
}

.hardometer__number{
    box-sizing: border-box;
    text-align: center;
    background-color: $color-grey-light;
    color: $color-red;
    width: 25px;
    height: 25px; 
    border-radius: $border-radius;

    @media(min-width: 600px){
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px; 
    }
}

.hardometer__span{
   width: 5px;
   height: 25px; 
   border: none;
   background-color: $color-grey-light;

   @media(min-width: 600px){
    height: 50px;
  }
}

.card__social-media{
    display: flex;
    gap: 50px;
    
}

.sm-icon{
    display: block;
    color: $color-grey-light;
    font-size: 1.6rem;

    @media(min-width: 600px){
        font-size: 2rem;
    }
}