.figure--tablet{
    display: none;

    @media(min-width: 850px) and (max-width:1349px){
        display: flex;
    }
}

.figure--screen{
    display: none;
    @media(min-width: 1350px){
        display: flex;
    }
}