.logotype-box{
    width: 60%;
    padding: 0;
    background-color: $color-grey-dark;

    @media(min-width: 1150px){
        padding: 0;
        width: auto;
        padding: 0.8em 2em;
    }
}

.logotype{
    font-size: 1.6rem;
    font-family: $font-marker;
    display: inline-block;

    span{
        color: $color-red;
    }
}

.logotype--inheritFS{
    font-size: inherit;
}

.logotype--nav{
    font-size: $h-mobile-size;
    @media(min-width: 1150px){
       font-size: 1.6rem;
    }
}
