/* MUI Tabs styles */
.MuiTabPanel-root.tabPanel{
    padding: 10px;
    color: $color-white;
    height: 200px;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: $color-grey-light;
}

.MuiTabs-flexContainer{
    justify-content: space-between;
}

.MuiTab-root.MuiButtonBase-root{
    color: $color-white;
}

.Mui-selected.MuiTab-root.MuiButtonBase-root{
    color: $color-red;
}

.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator{
    background-color: $color-red;
    height: 3px;
}