body::-webkit-scrollbar{
    width: 1.2rem;
    height: 1.2rem;
}

body::-webkit-scrollbar-corner { 
    background: transparent; 
}

body::-webkit-scrollbar-track{
    background-color: $color-grey-dark;
}

body::-webkit-scrollbar-thumb{
    background-color: $color-white-transparent;
    border-radius: $border-radius;
    border: 5px solid $color-grey-dark;
}


::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-corner { 
    background: transparent; 
}

::-webkit-scrollbar-track{
    background-color:  transparent;
    border-radius: $border-radius;
}

::-webkit-scrollbar-thumb{
    background-color: $color-grey-dark;
    border-radius: $border-radius;
}

